{% extends 'ecommerce/base.html' %}
{% block content %}
{%load static%}

<head>

    <title>About Page</title>


<style>
#a{
    text-align:center;
	font-family:Arial;
	align-content:center;
	
}
h4{
margin-bottom:15px;
}
p{
margin-bottom:7px;
   margin-left:7px;
   margin-right:7px;
   margin-top:7px;

}
</style>



</style>


<div id="a" class="container">
  <h4 style="align-content:center">ABOUT US</h4>
   <br>
  <hr/>
 
  <p>
  We are a South African founded start – up that is centred around removing physical and economic barriers to increase market access for all South Africans. We leverage on digital solutions and human capital. Our mantra is 
  customer first, small business second and investors last.
  </p>
  
  <p>
  Our company is committed to fostering entrepreneurship and growth through our platform, as well as a seamless 
  shopping experience for our customers. We believe in adding real values to the lives of our customers and partners.
  </p>
   <p>
   
   We are situated in the Johannesburg – Braamfontein area and
   are a registered company with the CIPC trading under the name of Seashop PTY LTD.
   
   
   </p>
   <p>
   Together we are TingoVille.
   
   </p>
   
   
</div>






















{% endblock %}