<!DOCTYPE html>
{%load static%}
{% load javascript_settings_tags %}
<script type="text/javascript">{% javascript_settings %}</script>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Homepage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="(% static 'ecommerce/static/css/ecommerce.css'%)
"</head>
<style>
.ui-autocomplete{
  width: 50px;

}
ul.ui-autocomplete.ui-menu{
  list-style-type:none;
  box-shadow: 1px 1px 1px 1px;
  border-length: 40%;
  list-style-position:outside;
}
</style>
<body>
    <!--bg-info,bg-primary, bg-danger, bg-warning and bg-success-->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <button class="navbar-toggler" data-toggle="collapse" data-target="#collapse_target">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapse_target">





            <h1>#NO<span class="navbar-text">NAME</span></h1>

            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" data-target="dropdown_target" href="{% url 'my-shop' %}">
                        Sell
                        <span class="caret"></span>
                    </a>
                    <div class="dropdown-menu" arial-labellby="dropdown_target">
                        <a class="dropdown-item" href="{% url 'my-shop' %}">Add Shop</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item">My Shops</a>


                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href= "{% url 'categories' %}" >
                        Buy
                        <span class="caret"></span>
                    </a>
                    <div class="dropdown-menu" arial-labellby="dropdown_target">
                        <a class="dropdown-item">Cars</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item">Hotels</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item">Laptops</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item">Accessories</a>

                    </div>
                  
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{%url 'my-cart' %}">My Basket</a>
<span class="caret"></span>
<div class="dropdown-menu" arial-labelby="dropdown_target">
                    <ul>

                    <li>
                      <select id="dynamic-select">
                      <options value="none"> Add </options>
                    </select>
                  </li>

                </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                    <p id='read'>badge</p>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'sign-up'%}">Sign Up</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container" style="margin-top:100px; margin-bottom:100px;">

<div class="search-container">
    <form method = "GET" action="{%url 'search' %}">
      <input class='search' type="text" placeholder="Search.." name="q" id='q' oninput="findme()"/>
      <button class="btn-primary btn-lg" type="submit" value="search"></button>
     <div id='display'></div>
    </form>


</div>


{% block content %}

{% endblock %}
</div>








    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-bottom">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#">About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Privacy & Policy</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">More</a>
            </li>
        </ul>
    </nav>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
              integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
              integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

              <script src="https://code.jquery.com"></script>
              <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    {% block custom_js %}
    <script>

      $(document).ready(function(){
          $.ajax({
       url: configuration['ecommerce']['ajax_cart'],
       cache: false,
       type: "GET",
       success: function(data){
         var dis=JSON.parse(data);
         console.log(dis.num);
         var badge=dis.num;
        document.getElementById('read').innerHTML=dis.num;
       }
    });
  });


      </script>
<script>
function findme(){
  var x=document.getElementById('q').value;
  console.log(x);
  $(document).ready(function(){
      $.ajax({
   url: configuration['ecommerce']['ajax_search'],
   cache: false,
   type: "POST",
   dataType:'JSON',
   data: {'SearchedItem': x},
   success: function(data){
     console.log("postcomplete")
      $(document).ready(function(){
         $.ajax({
      url: configuration['ecommerce']['ajax_search'],
      cache: false,
      type: "GET",
      success: function (data) {
      var thing=JSON.parse(data);
      var size=thing.length;
console.log(thing)
$( function() {
  var Searches= [];
  var item;
  for (var i=0; i<size; i++){
  item=thing[i].Name;
  Searches.push(item);
 }
   $( '#q' ).autocomplete({
     source: Searches
   });
     } );

    /*  for (var i=0; i<size; i++){
        var name=thing[i].Name;
        var id=thing[i].id;
        var type=thing[i].type;
        var url=thing[i].url;
        var par=document.createElement("P");
        var tex=document.createTextNode(name);
        par.appendChild(tex);
        document.getElementById('display').appendChild(par);

      }*/

     }

         });
     });



   },
   beforeSend: function(xhr, settings){
       xhr.setRequestHeader("X-CSRFToken", $.cookie('csrftoken'));
   }

           });
      });
}


</script>

    {% endblock%}


    </body>
    </html>
