{% extends 'ecommerce/base.html' %}

{% block content %}
{% load ecommerce_extras_filters %}
<head>

    <title>Cart</title>
{{image_id}}
</head>
    <form method="POST" action="" enctype="multipart/form-data">
      {%csrf_token%}
      {% zip_longest formset.forms goods as items %}
      {{formset.management_form}}
      {%for form, good in items %}
      <style>
      table {
        width: 60%;
        border-top: 1px solid black;

      }
      tr, td, th,{
        border:none;
      }

        </style>
        <table>
<tr> <table id="TableRow">
<!--<style>
table {
    border : 1px none #808080;
    border-width : 60%
    padding : 20px;
}
</style>-->

    {{good.Name}}


<tr>
  <th>
  <ul style=" list-style:none; ">

  {%with good.images.all|first as default%}
  <li><img class="images"src="{{default.AddImage.url}}" style="width:50px; height:40px;"></li>
  {%endwith%}
  </ul>
    </th>
    <td>
     Product Description
   </td>
<td> R {{good.Price}}</td>

<tr>

<td> In stock</td>

<td></td>

 <td>Quantity: {{form.quantity}}</td>
 <td>
 <a href="{%url 'cart-item-delete' form.FormId.value %}"><input type="button" value="Remove" onclick="deleteRow(this)" action=""> <a>
 </td>
</tr>


</table> </tr>

<br/> <br/>
<script src="https://code.jQuery.com/jQuery-3.4.1.js"> </script>


{%endfor%}
<tr> <table>
  <th>
    Summary of orders:
    </th>


  <td>Total:R {{cost}} </td> <td>{{form.quantity}}</td>
<td>

 <a href="#"><input type="button" value="Reset Cart" onclick="deleteRow(this)" action=""> <a></td>  </tr>
<tr> </table> <!-- DELETE ALL-->

  <tr>
<button type="submit" class="btn btn-primary">Proceed to checkout</button>
</tr>





  </form>
  <script>



   var k=(0);
   h='id_quantity';

    /* var two = $('#id_quantity').serializeArray() ;*/
    /*for(i=0; i<{{size}}; i++){
      if(h==='id_quantity'){
        var two= document.getElementById(h).value;
        k=(two)+(k);
        r='changed';
        document.getElementById(h).setAttribute('id',r);
      }

      /*
      dataHtml= '';
      dataHtml += ' <input type="number" name="quantity" value="2" required id="'k'">'

      document.getElementById('id_quantity').innerhtml= dataHtml;
*/


/*  window.onload() => {
    replaceID
  };
    console.log('Javascript is working')*/


console.log(k);



    </script>

{% endblock %}
