{% extends 'ecommerce/base.html' %}

{% block content %}

<style>
ul {
  list-style: none;
}
img {
  width: 250px;
  height: 260px;
}

</style>
<h1> Shop by {{cats.CategoryName}}</h1>
<div class="row">

  {%for item in pro%}
  <div class="three column">
    <ul style=" style-list: none;">
  <li>{{item.Name}}</li>
  {%with item.images.all|first as default%}
  <li><img src="{{default.AddImage.url}}"></li>
  {%endwith%}
  </ul>
</div>
  {%if forloop.counter|divisibleby:3 %}
</div>
<div class ="row">
  {% endif %}
  {% endfor %}
  </div>

{% endblock %}
