{% extends 'ecommerce/base.html' %}

{% block content %}
<head>

    <title>Sorted Products</title>

</head>
<style>
ul {
  list-style: none;
}
img {
  width: 250px;
  height: 260px;
}

</style>
<div class="container">
<h4 style="text-align:center;"> Shop by {{cats.CategoryName}}</h4>
<div class="row">

  {%for item in pro%}
  <div class="three column">
    <ul style="style-list: none;">
  <li style="margin-bottom:7px;font-weight:600;">{{item.Name}}</li>
  {%with item.images.all|first as default%}
  <li><img style="margin-top:5px;margin-bottom:8px;width:200px;height:200px;"src="{{default.AddImage.url}}"></li>
  {%endwith%}
  <li style="margin-top:5px;"id="price"> R {{item.Price}} </li>
  <li style="margin-top:10px;"id="Add">
      <button type="button" onclick="addOption()" class="btn btn-success">
          Add to Basket
      </button>
  </li>
  </ul>
</div>
  {%if forloop.counter|divisibleby:3 %}
</div>
<div class ="row">
  {% endif %}
  {% endfor %}
  </div>
</div>
{% endblock %}
