{% extends 'ecommerce/base.html' %}

{% block content %}
{%load static%}
<head>

    <title>Categories</title>

</head>


<style>
ul {
  list-style: none;
}
img {
  width: 250px;
  height: 260px;
}
table
{
  width: 100%
}
td{
  width: 25%;
}
.prod{
  transition-delay: 2s;
}

</style>
<div style="text-align:center;font-family:Arial;align-content:center;margin-right:10px;" class="container">
  <h4 style="font-family:Arial;margin-bottom:25px;margin-right:230px;">CATEGORIES</h4>
<div class="row">
  {%for item in query%}
  <div class="three column">
    <ul style=" style-list: none;">
  <li style="margin-bottom:10px;">{{item.CategoryName}}</li>
  <li style="margin-bottom:40px;"class="prod"><a href="{%url 'category-products' item.id%}"><img class="img-responsive"src="{{item.image.url}}"></a></li>
</li>

  </ul>
</div>
  {%if forloop.counter|divisibleby:3 %}
</div>
<div class ="row">
  {% endif %}
  {% endfor %}
  </div>

</div>

{% endblock %}
