{% extends 'ecommerce/base.html' %}

{% block content %}
{%load static%}
<head>

    <title>Categories</title>

</head>


<style>
ul {
  list-style: none;
}
img {
  width: 250px;
  height: 260px;
}
table
{
  width: 100%
}
td{
  width: 25%;
}
.prod{
  transition-delay: 2s;
}
  .prod:hover{

    width:220px;
     height:200px;
     margin:5px;
     padding:10px;
   }
</style>

<div class="row">
  {%for item in query%}
  <div class="three column">
    <ul style=" style-list: none;">
  <li>{{item.CategoryName}}</li>
  <li class="prod"><a href="{%url 'category-products' item.id%}"><img src="{{item.image.url}}"></a></li>
</li>

  </ul>
</div>
  {%if forloop.counter|divisibleby:3 %}
</div>
<div class ="row">
  {% endif %}
  {% endfor %}
  </div>

  

{% endblock %}
