<!--new html 01-Jul-->

{% extends 'ecommerce/base.html' %}

{% block content %}
{% load ecommerce_extras_filters %}
<head>

    <title>Homepage</title>

</head>
<style>

.prod{
  transition-delay: 2s;
}
  .prod:hover{

    width:220px;
     height:200px;
     margin:5px;
     padding:10px;
   }
  </style>
<div id="demo" class="carousel slide" data-ride="carousel">
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>
  <div class="carousel-inner">
    <div class="carousel-item active">
    {%load static%}
      <img src="{%static 'media/Category_image/download_1.jpg' %}" alt="Item Name" width="50" height="10">

      <div class="carousel-caption">
        <h3>Item Name 1</h3>
        <p>Product/description</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{%static 'media/Category_image/download_1.jpg' %}"  width="50" height="50">
      <div class="carousel-caption">
        <h3>Item Name 2</h3>
        <p>Product/description</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{%static 'media/Category_image/download_1.jpg' %}" alt="Item Name 3" width="50" height="50">
      <div class="carousel-caption">
        <h3>Item name 3</h3>
        <p>Product/description</p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>

    <!--bg-info,bg-primary, bg-danger, bg-warning and bg-success-->
    <!--<h1  style="color:#0c0e29; margin-top:100px; margin-bottom:20px;">Popular Categories</h1> -->
    {%for cat, num in  PopularCategoryList %}
    <table class="category" style="align-content:center;">
    <th>{{cat.CategoryName}}</th>
    <tr>
     {%for pro in cat.products.all %}
     <td>
       <ul style="list-style:none;">

  {%with pro.images.all|first as default%}
     <li class="prod"> <img class ="images" style="width:200px; height:190px; margin:5px; padding:0px;" src="{{default.AddImage.url}}"  > </li>
<li> {{pro.Name}}</li>
     {%endwith%}

      <li id="price"> R {{pro.Price}} </li>
      <li id="Add">
          <button type="button" onclick="addOption()" class="btn btn-success">
              Add to Basket
          </button>
      </li>
      <li id="SeeMore"><a href="{% url 'product-page' pro.id %}">Product Description</a></li>

  </ul>

    </td>
    {%endfor%}
     </tr>
     </table>
    {%endfor%}





    <table>

      <th>{{cat.CategoryName}}</th>
          {%for good in Fresh%}
      <tr>
      <td>
    <ul style="list-style:none;">
      {%if good.images.all%}

{%with good.images.all|first as default1%}
     <li class="prod"> <img class ="images" style="width:200px; height:190px; margin:5px; padding:0px;" src="{{default1.AddImage.url}}"></li>
     {%endwith%}
     <li>{{good.Name}}</li>
       <li id="price"> R {{pro.Price}} </li>
       <li id="Add">
           <button type="button" onclick="addOption()" class="btn btn-success">
               Add to Basket
           </button>
       </li>
       <li id="SeeMore"><a href="{% url 'product-page' good.id %}">Product Description</a></li>

   </ul>
     {%endif%}
</td>
{%endfor%}
</tr>

  </table>







    <h2>Trending</h2>
    <table>
      <tr>
    {%for good, num in PopularList%}
    <td>
  <ul style="list-style:none; margin-bottom:100px;">


   {%with good.images.all|first as default2%}
   <li class="prod"> <img class ="images" style="width:200px; height:190px; margin:5px; padding:00px;" src="{{default2.AddImage.url}}"  > </li>
   {%endwith%}

    <li>{{good.Name}}</li>
      <li id="price"> R {{pro.Price}} </li>
   <li id="Add">
       <button type="button" onclick="addOption()" class="btn btn-success">
           Add to Basket
       </button>
   </li>
   <li id="SeeMore"><a href="{% url 'product-page' good.id %}">Product Description</a></li>

</ul>
</td>
{%endfor%}
</tr>

</table>






<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-bottom">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="#">About Us</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Privacy & Policy</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">More</a>
        </li>
    </ul>
</nav>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
          integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
          integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        </script>

        <script src="https://code.jQuery.com/jquery-3.4.1.js"></script>
        <script>

            function getOption() {
                var select = document.getElementById("dynamic-select");
                if (select.options.length > 0) {
                    var option = select.options[select.selectedIndex];
                    alert("Text: " + option.text + "\nValue: " + option.value);
                } else {
                    window.alert("Select box is empty");
                }
            }

            function addOption() {
                var select = document.getElementById("dynamic-select");
                select.options[select.options.length] = new Option('New Element', '0', false, false);
                $("p").text(Trial successful).fadeOut(3000);



            function removeOption() {
                var select = document.getElementById("dynamic-select");
                select.options[select.selectedIndex] = null;
            }

            function removeAllOptions() {
                var select = document.getElementById("dynamic-select");
                select.options.length = 0;
            }
          }
        </script>





{% endblock %}
