<!--new html 01-Jul-->

{% extends 'ecommerce/base.html' %}

{% block content %}
{% load ecommerce_extras_filters %}
<head>

    <title>Homepage</title>

</head>
<style>





.carousel-caption{
  font:arial-black;
  font-weight:bold;
  font-size:2vw;
  color:grey;
  font-style:oblique;
  bottom:-29px;
  width:80%;
  background:black;
}
.BUTTON_YZG {
   -webkit-border-radius: 12px;
   -moz-border-radius: 12px;
   border-radius: 12px;
   height: 8px;
   line-height: 8px;
   color: #99C624;
   font-family: Arial;
   width: 161px;
   font-size: 17px;
   font-weight: 600;
   padding-top: 18px;
   padding-bottom: 18px;
   padding-left:18px;
   padding-right:18px;
   background-color: white;
   text-shadow: -16px -61px 51px #000000;
   border: solid #99C624 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
}

.BUTTON_YZG:hover {
   background: #39393B;
   text-decoration: none;
}



.container-fluid{

}
.carousel-slide{
  margin-bottom:78px;
}

  </style>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="demo" class="carousel slide" data-ride="carousel" style="font-family:arial;font-weight:600;height:40%;">

  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>
  <div class="carousel-inner col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
    <div class="carousel-item active col-lg-12 col-md-12 col-sm-12 col-xs-12">
    {%load static%}
      <img  class="img-fluid img-thumbnail"src="{%static 'media/Category_image/download_1.jpg' %}" alt="Item Name" style="margin-left:26px; width:250px;">
      <div class="carousel-caption">

        <p>Save 50%</p>
      </div>
    </div>
    <div class="carousel-item col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <img  class="img-fluid img-thumbnail" src="{%static 'media/Category_image/download_1.jpg' %}" style="margin-left:26px; width:250px;">
      <div class="carousel-caption">
      <p>Discounts up to 75%</p>
      </div>
    </div>
    <div class="carousel-item col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <img  class="img-fluid img-thumbnail" src="{%static 'media/Category_image/download_1.jpg' %}" alt="Item Name 3" style="margin-left:26px; width:250px;">
      <div class="carousel-caption">

        <p>Hurry up!</p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>

    <!--bg-info,bg-primary, bg-danger, bg-warning and bg-success-->
    <!--<h1  style="color:#0c0e29; margin-top:100px; margin-bottom:20px;">Popular Categories</h1> -->
    
	<div class="container col-lg-12 col-md-12 col-sm-12 col-xs-12 " style="align-content:middle;height:15%;">
    <h2 style="text-align:center;magin-bottom:50px;font-weight:450;">Spring Deals</h2>
    <table style="text-align:center;width:100%;">
      <tr style="text-align:center;width:100%;">
	  <td style="text-align:center;width:50%; height:50%;"> 
    {%for good in Women_Resale%}
    {%if good.images.all %}
  <ul style="list-style:none; margin-bottom:100px;text-align:center;">
  {%with good.images.all|first as default1%}
   <li class="prod"> <img class ="images img-fluid img-rounded" style="width:250px;height:250px;margin-top:80px;" src="{{default1.AddImage.url}}"  > </li>
   {%endwith%}


   <li style="text-align:center;font-weight:450;" id="SeeMore"><a href="{% url 'product-page' good.id %}">{{good.Name|truncatewords:4}}</a></li>
   <li style="text-align:center;font-weight:450;" id="price"> R {{good.Price}} </li>

</ul>

{%endif%}
{%endfor%}
</td>
</tr>

</table>

</div>


	<div class="container col-lg-12 col-md-12 col-sm-12 col-xs-12 " style="align-content:middle;height:15%;">
    <h2 style="text-align:center;magin-bottom:50px;font-weight:450;">Spring Deals</h2>
    <table style="text-align:center;width:100%;">
      <tr style="text-align:center;width:100%;">
	  <td style="text-align:center;width:50%; height:50%;">  
    {%for good in Men_Resale%}
   {%if good.images.all %}
  
  <ul style="list-style:none; margin-bottom:100px;text-align:center;width:100%">
   {%with good.images.all|first as default1%}
   <li class="{{good.Name|truncatewords:4}}" style=""> <img class ="images img-fluid img-thumbnail" style="width:250px;height:250px;" src="{{default1.AddImage.url}}"> </li>
   {%endwith%}
   <li style="text-align:center;font-weight:450;" id="SeeMore"><a href="{% url 'product-page' good.id %}">{{good.Name|truncatewords:4}}</a></li>
   <li style="text-align:center;font-weight:450;" id="price"> R {{good.Price}} </li>
   </ul>
  
{%endif%}
{%endfor%}
</td>
</tr>

</table>

</div>





    <div class="container col-lg-12 col-md-12 col-sm-12 col-xs-12 " style="align-content:middle;height:15%;">
    <h2 style="text-align:center;magin-bottom:50px;font-weight:450;">Fresh</h2>
    <table style="text-align:center;width:100%;">
      <tr style="text-align:center;width:100%;">
	  <td style="text-align:center;width:50%; height:50%;"> <table style="text-align:center;">
     {%for F in Fresh%}
     {%if F.images.all %}
  <ul style="list-style:none; margin-bottom:100px;text-align:center;">
   {%with F.images.all|first as default1%}
   <li class="prod"> <img class ="images img-fluid img-thumbnail" style="width:250px;height:250px;margin-top:80px;" src="{{default1.AddImage.url}}"  > </li>
   {%endwith%}


   <li style="text-align:center;font-weight:450;" id="SeeMore"><a href="{% url 'product-page' F.id %}">{{F.Name|truncatewords:4}}</a></li>
   <li style="text-align:center;font-weight:450;" id="price"> R {{F.Price}} </li>

</ul>

{%endif%}
{%endfor%}
</td>
</tr>

</table>

</div>


    <div class="container col-lg-12 col-md-12 col-sm-12 col-xs-12" style="align-content:middle;height:15%;">
    <h2 style="text-align:center;magin-bottom:50px;font-weight:450;">Trending</h2>
    <table style="text-align:center;width:100%;">
    <tr style="text-align:center;width:100%;">
	<td style="text-align:center;width:50%; height:50%;"> 
    {%for good, num in PopularList%}
    <ul style="list-style:none; margin-bottom:100px;text-align:center;">
    {%with good.images.all|first as default2%}
    <li class="prod"> <img class ="images img-fluid img-thumbnail" style="width:250px;height:250px;margin-top:80px;" src="{{default2.AddImage.url}}"  > </li>
    {%endwith%}
    <li style="text-align:center;font-weight:450;" id="SeeMore"><a href="{% url 'product-page' good.id %}">{{good.Name|truncatewords:4}}</a></li>
    <li style="text-align:center;font-weight:450;" id="price"> R {{good.Price}} </li>

   </ul>
    
{%endfor%}
</td>
</tr>

</table>



</div>



  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
          integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
          integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        </script>

        <script src="https://code.jQuery.com/jquery-3.4.1.js"></script>
        <script>

            function getOption() {
                var select = document.getElementById("dynamic-select");
                if (select.options.length > 0) {
                    var option = select.options[select.selectedIndex];
                    alert("Text: " + option.text + "\nValue: " + option.value);
                } else {
                    window.alert("Select box is empty");
                }
            }

            function addOption() {
                var select = document.getElementById("dynamic-select");
                select.options[select.options.length] = new Option('New Element', '0', false, false);
                $("p").text(Trial successful).fadeOut(3000);



            function removeOption() {
                var select = document.getElementById("dynamic-select");
                select.options[select.selectedIndex] = null;
            }

            function removeAllOptions() {
                var select = document.getElementById("dynamic-select");
                select.options.length = 0;
            }
          }
        </script>





{% endblock %}
