{% extends 'ecommerce/base.html' %}
{% block content %}
{%load static%}

<head>

    <title>About Page</title>


<style>
#b{
    text-align:center;
	font-family:Arial;
	align-content:center;

}
h3,h4{
   margin-bottom:7px;
   margin-top:7px;
}
h6{
   margin-bottom:50px;
}
p{
   margin-bottom:7px;
   margin-left:7px;
   margin-right:7px;
   margin-top:7px;

}
</style>



</style>


<div id="b" class="container">
  <h2 style="align-content:center">How it works</h2>
  
  <h3>How transactions Work</h3>
  <ul style="list-style:none;">
  <li>Step 1:You place order on the platform and a reference number for the order is generated</li>
  <li>Step 2:Your order is processed by the shops the product belongs to </li>
  <li>Step 3:Your order is then delivered to our fulfilment centre facilities and is readied for shipping</li>
  <li>Step 4:Your order is now ready to be shipped. You will receive an email and sms informing you of the time the order will arrive. </li>
  <li>Step 5:Your order is delivered to your doorstep by our delivery partners.</li>
  <li>Step 6:The delivery partner receives your payment. Checkout our Returns Policy for information regarding product returns. </li>
  </ul>
    <h3>How to sell with us</h3>
	<h4>Create a shop on our platform easily in under two minutes:</h4>
  <ul style="list-style:none;">
  <li>Step 1:Choose name of your shop and give a bio of who you are and what you sell</li>
  <li>Step 2:You can choose to be a professional seller or a casual sellerYour order is processed by the shops the product belongs to </li>
  <li>Step 3:A professional seller can sell an unlimited number of products, the product listings can remain on the platform indefinitely
             subject to receipt of a monthly subscription fee of R 200</li>
  <li>Step 4:A Casual seller is able to list a limited number of products, and the products are removed from the platform after fulfilment of purchases. 
  You can create a casual shop for FREE. Your order is now ready to be shipped. You will receive an email and sms informing you of the time the order will arrive. </li>
  <li>Step 5:For rates and fees see our Rates and Fees page. </li>
  <li>Step 6:All shop owners are verified and vetted to ensure the safety of transactions and consumers is upheld.</li>
  </ul>
   
</div>
{% endblock %}