{% extends 'ecommerce/base.html' %}

{% block content %}
{% load ecommerce_extras_filters %}
<head>

    <title>Inventory</title>

</head>
<h1> Pending Orders </h1>
<div>
    <table >
    {%for message, product_id, cart_id, order_id, productquery in PendingQuerySet%}
    <tr>
  <td>{{message}}</td>
    <td><a href="{%url 'accept-order' inventory_id=inventory.id cart_id=cart_id order_id=order_id%}"><input id='accept' class="btn btn-success btn-xs  col-xs-6"
type="button" value="Accept" onclick="deleteRow(this)" action=""> <a></td>
    <td>  <button  id='decline' type=""class="btn btn-danger btn-xs col-xs-6" href=#> Decline </button></td>

    </tr>
    {% endfor %}


    </table>
  </div>

  <div>
  <h1> Accepted Orders <h2>
      <table>
      {%for message, product_id, userId, acceptedproductquery, objectid in AcceptedQuerySet%}
    <tr>
      {{message}}
      </tr>
      {%endfor%}
  </table>
</div>



<div>

  <h1> Feedback</h1>
  <table style="width:60%;">


    <tr>

<td>Product description</td> <td> To be delivered</td> <td> Delivered </td> <td> Returns</td><td> Sales</td>



      {% for item in products %}
      {%if item.orders.all %}
     <tr>
        {%for pros in item.images.all%}
        <td>{{pros.name}} {{item.Name}}</td>
         <td>{{pros.ToBeDelivered}} </td>
         <td>Yes </td>
         <td> NO RETURN </td>
         <td> {{pros.Sales}}</td>

        </tr>
        {%endfor%}
        {%endif%}
      {% endfor %}
        </table>
    </div>
    <div>

      <h1> Inventory</h1>
      <table style="width:60%;">


        <tr>

    <td>Product description</td> <td>Available stock</td> <td> New Stock</td>


          {% zip_longest QForms products as items %}
          {% for form, item in items %}
          {%for pros in item.images.all%}
         <tr>

            <td>{{pros.name}} {{item.Name}}</td>
          <td>{{pros.Stock}} </td>
             <td>
               <form method= "POST">
                  {%csrf_token%} {{form.quantity}} {%for hidden in form.hidden_fields %} {{hidden}} {%endfor%}
               <button type="submit" class="btn btn-primary">Submit
               </button>
             </form>
           </td>


            </tr>
            {%endfor%}
          {% endfor %}
            </table>
        </div>

    <script type="text/javascript">
      var x={{AcceptedQuerySet}};
      console.log(x);
      function go(){
        $(document).ready(function(){
            $.ajax({
         url: configuration['ecommerce']['ajax_accept'],
         cache: false,
         type: "POST",
         dataType:'JSON',
         data:x,
         success: function(data){
         console.log("successful");
         }
      });
    });
      }


      </script>



 {% endblock %}
