{% extends 'ecommerce/base.html' %}
{% load javascript_settings_tags %}



{% load crispy_forms_tags %}
{% block content %}
<div  class="container">
       <div class="row">

           <div class="col-md-6 col-xs-4">
             {%with item.images.all|first as default%}
               <img src="{{default.AddImage.url}}"id='IneverChange' class="img-responsive img-circle" style="width:200px;height:200px;margin-top:100px;">
               {%endwith%}
               {%for x in item.images.all%}
                <img src="{{x.AddImage.url}}" id='{{x.id}}' class="img-responsive" style="width:50px;height:50px;margin-top:100px;">
               {%endfor%}

               <div >
                 <form class="form-horizontal" method="POST" action="" enctype="multipart/form-data">
                   {% csrf_token %}
                   <p>{{QuantityForm}}</p>
                   {{variable}}
                   <button class="btn btn-primary btn-xs  col-xs-6">Buy Now</button>
                   <button  type=""class="btn btn-danger btn-xs col-xs-6" value="" >    Add to Basket></button>
                   </form>
                   <h4 class="desc"><small>DESCRIPTION:</small></h4>
                     <div class="fig jumbotron">
                         <p>
                             {{Description}}
                         </p>

                     </div>
               </div>
           </div>

           <div class="col-md-6 col-xs-4">

               <h4 class="pro" style="margin-top:100px;">{{item.Name}} </h4>
               <hr />
                  <div style="Background: red;" class="jumbotron">
                      <vr>
                          <p>{{item.Price}}</p>


                      </vr>



               </div>



           </div>




       </div>



   </div>



       <script type="text/javascript">{% javascript_settings %}</script>
       <script type="text/javascript">
         var id=[];
       {%for x in item.images.all%}
       var y='{{x.id}}';
       id.push(y);
       {%endfor%}
      var x=id[0];
      console.log(x);
      var p;
      $(this).on("click",function(){
        console.log(4);
        $(document).ready(function(){
            $.ajax({
         url: configuration['ecommerce']['ajax_view'],
         cache: false,
         type: "GET",
         success: function(data){
           p=data;
           var thing=JSON.parse(p);
           console.log(thing.var1);
           var t=thing.var1;
           $(document).ready(function(){
               $.ajax({
            url: configuration['ecommerce']['ajax_view'],
            cache: false,
            type: "POST",
            data: {'id': x, 'var1':t},
            success: function (data) {
             console.log('success');

           },
            beforeSend: function(xhr, settings){
                xhr.setRequestHeader("X-CSRFToken", $.cookie('csrftoken'));
            }
               });
           });



         }

                 });
            });
      });

     /*if(p !== null){
       $(document).ready(function(){
           $.ajax({
        url: configuration['ecommerce']['ajax_cart'],
        cache: false,
        type: "POST",
        data: {"id": x, "var1":p[0].var1}
        success: function(data){
         console.log('success');
         console.log(p);
        }
        beforeSend: function(xhr, settings){
            xhr.setRequestHeader("X-CSRFToken", $.cookie('csrftoken'));
        }
           });
       });



     }*/


        /* $(document).on("click", ".img-responsive", function() {
             x= $(this).attr("id");
             var myImgSrc = document.getElementById(x).src;
             document.getElementById('IneverChange').src = myImgSrc;
         });

         var p;
         $("btn").on("click",function(){
           $(document).ready(function(){
               $.ajax({
           	url: 'ajax/',
           	cache: false,
           	type: "GET",
           	success: function(data){
               p=data;
           	}
                    });
               });
         });
          console.log(p);
         if(p !== null){
           $(document).ready(function(){
               $.ajax({
           	url: 'ajax/',
           	cache: false,
           	type: "POST",
           	data: {"id": x, "var1":p[0].var1}
           	success: function(data){
             console.log(success);
            }
           	beforeSend: function(xhr, settings){
           	    xhr.setRequestHeader("X-CSRFToken", $.cookie('csrftoken'));
           	}
               });
           });



         }
*/



     /*var EmptyDiv =document.getElementById("Empty");
     var btn =document.getElementById("btn");
     btn.addEventListener("click",function(){
       var NewRequest=new XMLHttpRequest();
       NewRequest.open('GET', 'http://localhost:8000/my-cart/');
       NewRequest.onload=function(){
         var NewData=JSON.parse(NewRequest.responseText);
         renderHTML(NewData);
       };
       NewRequest.send();
     });

     function renderHTML(data){
       EmptyDiv.insertAdjacentHTML('beforeend', 'string to add');
     }*/






     </script>

    <script type=text/javascript>
      $(document).on("click", ".img-responsive", function() {
          var x= $(this).attr("id");
          var myImgSrc = document.getElementById(x).src;
          document.getElementById('IneverChange').src = myImgSrc;
      });




                // Do your custom javascript for this view here. Will be run after
                // loading all the other scripts.

    </script>


{%endblock%}
