{% extends 'ecommerce/base.html' %}
{% block content %}
{%load static%}

<head>

    <title>Returns</title>


<style>
#a{
    text-align:center;
	font-family:Arial;
	align-content:center;
	
}
h4{
margin-bottom:15px;
}
p{
margin-bottom:7px;
   margin-left:7px;
   margin-right:7px;
   margin-top:7px;

}
</style>



</style>


<div id="a" class="container">
  <h4 style="align-content:center">RETURNS POLICY</h4>
   <br>
  <hr/>
 <div style="text-align-last: left;">
 </br>
 <p>
This returns policy is part of the terms and conditions, and any interpretation of words or terms in this section shall conform to the definitions set out in the terms and conditions.

SeaShop shall handle any returns under the Consumer Protection Act, or the Electronic communications and transactions Act, by you in accordance with our own returns policy.

Instances in which the customer may return goods purchased from the website include: the product is unwanted, the goods were damged on delivery, the goods are defective.
</p>
</br>
<p>
1.	Unwanted Products:
Any unwanted product can be returned to us at no cost. Provided that:
	The package is still in its original state, with all seals intact.
	The product has not been used, damaged or tampered with in any way.
	A return request was lodged on the website within 14 days of delivery or collection of the product.
	Collections of unwanted products will be made at no extra cost to you.
	Products will be inspected to validate that they are in their original state, with no missing accessories or defects caused by negligent use by the customer.
	Once checked and validated, you will be refunded the purchase price of the product within 10 days of the return.
	Exchanges can also be made on products that are not of a personal usage nature. Exchanges can be made in instances where we mistakenly delivered a wrong product to you, or in instances where the product is what you ordered, but the wrong size.
	In such instance, we will collect the good at no extra cost, provided the product is still in its original packaging, and not damaged. Upon inspection, we can deliver the correct product to you as quickly as we possibly can, or refund you your money, or credit your account with the purchase amount.
</p>
</br>
<p>
2. Damaged Products:
	In the instance of your product getting damaged on delivery/collection, inform us of such delivery/collection on our website.
	We will collect the product at nproduct. 
	We will inspect the product to validate your return. Upon which should it be possible, repairs will be made on the product. Should repairing not be possible, at your choice, we will either replace the product or credit your account with the purchase price within 7 days of collection of the damaged product.
</p>
</br>
<p>
3. Defective Products:
	As much as we work hard to ensure you only the best quality goods are delivered to you, it may happen in certain instances where the product delivered to you has a material defect that makes it unfit for use or acceptance.
	You may return goods with defects except in instances where:
a.	The defect is a result from normal wear and tear associated with the product in question
b.	The defect was caused by negligent use on the customers part, or failure to exercise adequate care for the product
c.	where the specifications of a product,
although accurately described on the Website
and generally fit for its intended purpose, do
not suit you.
d.	Where the defect I'd caused by an accident or damage as a result of an incorrect attempt at modification or repair.
e.	Where the product has been dealt with, and used in a manner inconsistent with Seashop’s or the manufacturers instructions. We may, at our discretion decide not to refund or repair your return, and we may charge you for any service costs or and/or any reasonable service costs. These charges will be made on your account registered to SeaShop in accordance and within the ambit of the law.
-	Should you receive a defective product, please notify us on the website as soon as reasonably possible, In any event within 3/6 months after delivery/collection.
-	Suppliers may offer warranties longer than that of SeaShop. In an instance where you return the defective good outside of our 3/6months period, but within the suppliers warranty period, you may return the goods to the supplier whose information should be inside the package. Please note that your remedy in this instance will lie with the supplier and not us. furthermore; the supplier can at their discretion refuse to return, repair or refund you, subject to conditions set by the supplier on their terms and conditions.
-	Any defective goods returned to us, with missing parts and/or accessories, we may refuse the return, and only replace the item you did return.
</p>
   
 </div>  
</div>






















{% endblock %}