{% extends 'ecommerce/base.html' %}
{% block content %}
<head>
<title>Search results</title>
<style>
.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  margin-bottom:15px;

}
tr{
  margin-bottom:150px;
}

  </style>
</head>



<div style="width:100%;"class="container">
  {%for item in queryset%}
<div style="width:100%;margin-bottom:150px;" class="row">
  <div class="column">
    {%with item.images.all|first as default%}
    {%if default.AddImage%}
    <a href="{% url 'product-page' item.id %}"><img src="{{default.AddImage.url}}"id='IneverChange' class="img-fluid rounded" style="width:400px;height:400px;margin-top:30px; margin-right:25px;"></a>
    {%endif%}
      {%endwith%}
    </div>

    <div class="column">
      <div >
        <a style="width=100%;margin-bottom:25px;margin-top:8px;margin-left:0px;margin-top:28px;font-weight:500;font-size:30px; text-decoration:none; Color:black;"href="{% url 'product-page' item.id %}">{{item.Name}}</a>
        </div>
        <hr style="margin-left:0px;">
        <div class="text-success lead" style=  "width:100%;margin-left:15px;font-weight:500;font-size:30px;">
          R {{item.Price}}
           </div>
      </div>
  </div>
{%endfor%}
  </div>

{% endblock %}
