{% extends 'ecommerce/base.html' %}

{% block content %}
{% load ecommerce_extras_filters %}

<h3 style="text-align:left; margin-left:20px;"> How to sell with us </h3>
<div style= "margin-left:20px; text-align:left;">
</br>
</br>
<p>
Create a shop on our platform easily in under two minutes:
</br>
•	Choose name of your shop and give a bio of who you are and what you sell
</br>
•	You can choose to be a professional seller or a casual seller
</br>
•	A professional seller can sell an unlimited number of products, the product listings can remain on the platform indefinitely subject to receipt of a monthly subscription fee of R 200.
</br>
•	A Casual seller is able to list a limited number of products, and the products are removed from the platform after fulfilment of purchases. You can create a casual shop for FREE. 
</br>
•	For rates and fees see our Rates and Fees page. 
</br>
•	All shop owners are verified and vetted to ensure the safety of transactions and consumers is upheld.
</p>
</br>

<h5 style="text-align:left; margin-left:20px;">
How do I receive orders?
</h5>
<p>
•	When a customer places an order on your products you receive an email and sms informing you an order was placed for one of your products. 
</br>
•	You should then go to you inventory page to see a notification detailing the order along with a unique reference number.
</br>
•	You should note the reference number and place it on the ordered products’ packaging. The reference number must be displayed on a sticker that is placed on the packaging. 
</br>
•	Once you accept the offer you will receive notification for when the order will be collected, usually one day within acceptance of order.
</br>
•	Our delivery partners then collect the order.
</br>
•	The order travels to our fulfilment facilities where it is readied for shipping. 
</br>
•	If you did not opt for custom packaging the order will be repackaged for you before it is shipped to the consumer.

</p>
</br>

<h5 style="text-align:left; margin-left:20px;">
How do I get paid?
</h5>
<p>
•	You will receive payment on 15th of every month in accordance with our rates and fees policy.
</br>
•	The payment will be made via FNB eWallet using the number you provided when creating your shop. 
</br>
<h5 style="text-align:left; margin-left:20px;">
What are you waiting for, Start Selling!
</h5>
<h6 style="text-align:left; margin-left:20px;">Rates and Fees</h6>
•	Electronics – 7 % for professional sellers and 15 % for casual sellers
</br>
•	Accessories – 15 % for professional sellers and 25 % for casual sellers
</br>
•	Clothing Resale – 20 % for professional sellers and 35 % for casual sellers
</br>
•	Clothing – 15 % for professional sellers and 25 % for casual sellers
</br>
•	Textbook Resale – 20 % for professional sellers and 35 % for casual sellers
</br>
•	General Resale items – 20 % for professional sellers and 35 % for casual sellers
</br>
•	Toiletries - 11 % for professional sellers and 20 % for casual sellers

</p>
</br>



</div>

{% endblock %}